.bottom-info {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    background-color: red;
}

.bottom-info-text {
    float: left;
    font: italic 17px "Arial";
}

.bottom-info-close {
    float: right;
    font: italic 20px "Arial";
    cursor: pointer;
    padding: 0 20px;
    border: 0;
    border-radius: 0;
    background-color: red;
}

.bottom-info-close:hover {
    background-color: darkred;
}