.dialog {
    position: absolute;
    border: 2px solid black;
    background-color: white;
    top: 35%;
    right: 35%;
    left: 35%;
}

.dialog-header {
    text-align: center;
    font: italic 25px "Comic Sans MS";
}

.dialog-input {
    margin: 20px;
    width: calc(100% - 30px);
    font: italic 15px "Comic Sans MS";
}

.dialog-ok {
    float: left;
}

.dialog-cancel {
    float: right;
}

.small-dialog {
    right: 40%;
    left: 40%;
}

.dialog-minus {
    float: left;
}

.dialog-plus {
    float: right;
}

.dialog-value {
    margin: auto;
    text-align: center;
    font: italic 35px "Comic Sans MS";
}